{{#unless (eq route "signup")}}
  {{#if canSignUp}}
    {{#link-to "signup"}}
      <span class="button">sign up</span>
    {{/link-to}}
  {{/if}}
{{else}}
  <a href="javascript:history.back();">
    <span class="button">back</span>
  </a>
{{/unless}}
{{#if loggedIn}}
<a {{action "logout"}}>
  <span class="button">log out</span>
</a>
<a href="/api/download">
  <span class="button">download band info</span>
</a>
{{/if}}
{{yield}}
