.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  box-sizing: border-box;
}

form {
  .form-group label {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    input {
      @include slim-font;
      flex-grow: 2;
      margin-left: 0.5em;
    }
  }
  p {
    max-width: 400px;
  }
  .check label input {
    margin-left: 0;
    margin-right: 0.5em;
  }
  .info {
    line-height: 1em;
  }
  label a, .progress {
    color: $green-color;
    margin-left: 1em;
  }
  label a {
    cursor: pointer;
  }
  span a {
    margin-left: 0;
  }
  .button {
    font-size: 1em;
    color: $green-color;
  }
  .button-group {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

/** Selectize **/

.content {
  .selectize-control.single, .selectize-control {
    .selectize-input {
      width: 100%;
      border: none;
      background-color: transparent;
      box-shadow: none;
      background-image: none;
      color: $text-color;
      input, .item {
        font-size: 1.2em;
        width: 100%;
        color: $text-color;
        &:after {
          border-color: $text-color transparent transparent transparent;
        }
      }
    }
    .selectize-dropdown {
      color: $text-color;
      background-color: transparentize($bg-color, 0.05);
      border: none;
      .active {
        color: $text-color;
        background-color: transparentize($green-color, 0.9);
      }
    }
  }
}
