.round {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.match {
  display: flex;
  width: 100%;
  flex-direction: column;
  max-width: 600px;
  padding: 1em;
  box-sizing: border-box;
  justify-content: space-between;
  .matchup {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .match-band {
    display: flex;
    align-items: center;
    flex-grow: 2;
    .selectize-control {
      flex-grow: 2;
    }
  }
  .band2 {
    flex-direction: row-reverse;
    justify-content: flex-end;
    .band-name {
      text-align: right;
    }
  }
  .band-name {
    margin: 0 1em;
    flex-grow: 2;
  }
  .score {
    width: 1em;
  }
}
