<nav class="round-nav">
  {{#each model as |round|}}
    <div>
      {{#link-to 'bracket.round' round}}{{round.title}}{{/link-to}}
    </div>
  {{/each}}
</nav>
<div class="round">
  {{outlet}}
</div>
